*{
    -webkit-box-sizing: content-box;
}
#main{
    width:1920px;
    height:650px;
    background: #1b1b1b;
    font-size:18px;
    color:#eee;
}
#main a{
    color:#bbb;
}
#main a:hover{
    color:#eee;
}
.wrapper{
    width:1400px;
    height:744px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.wrapper>p{
    font-size:18px;
    padding-top:26px;
}
.content{
    position:relative;
}
.content>p{
    font-size:18px;
    padding:20px 30px;
    color:#d7bf79;
    background:#101010;
    margin-top:30px;
}
.content form{
    position:relative;
    width:778px;
}
.msg select,.msg input{
    width:260px;
    height:40px;
    outline:none;
    color:#eee;
    background:#1b1b1b;
    border:1px solid #313131;
    padding:0 12px;
    border-radius: 2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
}
.msg select:focus,.msg input:focus{
    border-color:#948367;
    outline:none;
    box-shadow:none;
}
.msg select option{
    background:#1b1b1b;
    border-color:#948367;
}
.msg tr{
    height:80px;
}
.msg tr td{
    position:relative;
}
.msg tr td p{
    width:162px;
    display:none;
    font-size:14px;
    text-align: center;
    color:#ff0000;
    position:absolute;
    left:0px;
    bottom:0px;
}
#adduser{
    position:absolute;
    left:83px;
    bottom:30px;
    background:transparent;
    color:#d7b779;
    text-decoration:underline;
}
#submit{
    position:relative;
    right:-95px;
    top:20px;
    cursor:pointer;
    width:180px;
    height:40px;
    text-align: center;
    color:#888;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;
}
.panel{
    position:absolute;
    right:72px;
    top:122px;
    width:510px;
    font-size:16px;
    color:#fff;
    background:transparent;
}
.panel ol li{
    line-height:42px;
}