#main{
    width:1920px;
    background: #1b1b1b;
    height:642px;
    font-size:18px;
    color:#eee;
}
#main a{
    color:#bbb;
    font-size: 14px;
}
#main a:hover{
    color:#eee;
}
.top{
    width:1920px;
    height:65px;
    border:none;
    position: relative;
}
.border{
    height:0px;
    width:1920px;
    border-top:1px solid #0a0a0a;
}
.border1{
    height:0px;
    width:1920px;
    border-top:1px solid #535353;
}
.top p{
    position:absolute;
    left:212px;
    bottom: 0;
    font-size:20px;
}
.bt{
    position:absolute;
    left:0;
    bottom: 0;
}
.top h3{
    font-weight: normal;
    font-size:24px;
    letter-spacing:30px;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translate(-50%);
}
.content{
    width:314px;
    height:285px;
    margin:90px auto 0px;
}
.content .pwd{
    margin-top: 66px;
}
.content label{
    width:463px;
    height:50px;
}
.content label span{
    display: inline-block;
    font-size:24px;
}
.content label input{
    width:158px;
    height:36px;
    border-radius:25px;
    padding:0 20px;
    font-size:16px;
    font-family: 微软雅黑, Helvetica, Arial, sans-serif;
    color:#000;
}
.content label input::-webkit-input-placeholder{
    text-align: center;
    font-size:16px;
}
.content .mn {
    width:312px;
    margin-top:10px;
}
.content .mn u{
    float:right;
}
.btn{
    width:159px;
    margin: 0 auto;
    margin-top:43px;
}
.content button{
    width:158px;
    height:36px;
    cursor: pointer;
    margin: 0 auto;
    font-family: 微软雅黑, Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#fff;
    border-radius:25px;
    border:none;
    outline: none;
    background:#910303;
}
.content button span{
    font-family:微软雅黑;
    color:#fff;
}
.botm{
    width:1920px;
    height:190px;
}
.botm p{
    width:183px;
    font-size:26px;
    color:#696666;
    margin:0 auto;
}
.botm ul{
    width:262px;
    height:68px;
    overflow: hidden;
    margin:0 auto;
    margin-top:40px;
}
.botm ul li {
    float:left;
    margin-right:30px;
}
.botm ul li:last-child{
    margin: 0;
}
.botm ul li a{
    display: inline-block;
    width:67px;
    height:67px;
    background:url("../img/img_index/login_icon.png") no-repeat;
}
.botm ul li:nth-child(2) a{
    background:url("../img/img_index/login_icon.png") -69px 0 no-repeat;
}
.botm ul li:nth-child(2) a:hover{
    background:url("../img/img_index/login_icon.png") -69px -68.5px no-repeat;
}
.botm ul li:first-child a:hover{
    background:url("../img/img_index/login_icon.png") 0 -68.5px no-repeat;
}
.botm ul li:nth-child(3) a{
    background:url("../img/img_index/login_icon.png") -138px 0 no-repeat;
}
.botm ul li:nth-child(3) a:hover{
    background:url("../img/img_index/login_icon.png") -138px -68.5px no-repeat;
}